In [1]:
import pandas as pd
import numpy as np

In [111]:
data1=pd.read_csv('C:/Users/dudtj/OneDrive - 숭실대학교 - Soongsil University/Desktop/CL/python/동계인턴십_Data_1000/phenotype_1000.txt',engine="python",sep=" ")

In [112]:
data1=data1['MDM_B']
data1.dropna(inplace=True)
data1

1      1.0
4      1.0
8      1.0
74     1.0
95     1.0
104    1.0
149    1.0
152    1.0
178    1.0
201    1.0
205    1.0
264    1.0
270    1.0
294    1.0
316    1.0
329    1.0
340    1.0
419    1.0
461    1.0
489    1.0
497    1.0
500    1.0
533    1.0
712    1.0
733    1.0
742    1.0
747    1.0
751    1.0
785    1.0
829    1.0
883    1.0
888    1.0
895    1.0
912    1.0
926    1.0
935    1.0
937    1.0
938    1.0
940    1.0
943    1.0
948    1.0
951    1.0
952    1.0
953    1.0
959    1.0
999    1.0
Name: MDM_B, dtype: float64

In [ ]:
#가족력 과거력 파악.
#data2=data1.loc[:,['FCAN89','LUNG']]
#data2.dropna(inplace=True)
#print(len(data2))
#data3=data2[data2['LUNG']==1]
#print(len(data3))
#print(len(data3)/len(data2))
#data3

In [100]:
data1.columns

Index(['FID', 'IID', 'AGE_B', 'SMOK_B', 'SMOKA_MOD_B', 'ALCO_B',
       'ALCO_AMOUNT_B', 'EXER_B', 'MDM_B', 'MHTN_B', 'MLPD_B', 'PHTN_B',
       'PDM_B', 'PLPD_B', 'HT_B', 'WT_B', 'WAIST_B', 'SBP_B', 'DBP_B', 'CHO_B',
       'LDL_B', 'TG_B', 'HDL_B', 'FBS_B', 'GOT_B', 'GPT_B', 'GGT_B', 'URIC_B',
       'PCAN80', 'PCAN81', 'PCAN82', 'PCAN83', 'PCAN84', 'PCAN86', 'PCAN89',
       'FCAN80', 'FCAN81', 'FCAN82', 'FCAN83', 'FCAN84', 'FCAN86', 'FCAN89',
       'FEV1', 'FVC', 'BIL', 'WBC', 'CREAT', 'STOMA', 'COLON', 'LIVER', 'LUNG',
       'PROST', 'THROI', 'BREAC', 'RECTM', 'SCOLON', 'SRECTM', 'SPROST',
       'STHROI', 'SBREAC', 'SLUNG', 'SSTOMA', 'SLIVER', 'SEX1', 'CRC', 'SCRC'],
      dtype='object')

In [106]:
data1['PCAN80']=data1['PCAN80'].fillna(0)

In [107]:
data1['PCAN80']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
995    0.0
996    0.0
997    0.0
998    0.0
999    0.0
Name: PCAN80, Length: 1000, dtype: float64

In [76]:
data1.dropna(inplace=True)

In [77]:
data1

     FCAN86  LUNG
176     1.0     0
177     1.0     0
260     1.0     0
261     1.0     1
374     1.0     0
388     1.0     0
416     1.0     0
420     1.0     0
426     1.0     0
434     1.0     0
438     1.0     0
439     1.0     0
483     1.0     0
576     1.0     0
585     1.0     0
605     1.0     0
612     1.0     0
615     1.0     0
665     1.0     0
677     1.0     0
681     1.0     0
691     1.0     0
693     1.0     0
712     1.0     0
723     1.0     0
739     1.0     0
774     1.0     0
835     1.0     0
843     1.0     0
850     1.0     0
863     1.0     0
874     1.0     0
907     1.0     0
924     1.0     0
928     1.0     1

In [3]:
data2=pd.read_csv('C:/Users/dudtj/OneDrive - 숭실대학교 - Soongsil University/Desktop/CL/python/동계인턴십_Data_1000/KCPS_r2_0.01_1000.csv')