In [1]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_csv('C:/Users/dudtj/OneDrive - 숭실대학교 - Soongsil University/Desktop/CL/python/동계인턴십_Data_1000/phenotype_1000.txt',engine="python",sep=" ")

In [3]:
data2=pd.read_csv('C:/Users/dudtj/OneDrive - 숭실대학교 - Soongsil University/Desktop/CL/python/동계인턴십_Data_1000/KCPS_r2_0.01_1000.csv')

In [4]:
data2.head()

,FID,IID,rs4970382,rs7513297,rs144969472,rs1695860,rs3765908,rs34135959,1:1959861_GCC/G,rs12057498,...,rs144291562,rs28479081,rs73891199,rs5771192,22:50469081_C/G,rs909691,rs34557850,rs2076714,rs131727,rs6009953
0,KCPS000029,KCPS000029,0,1,0,2,1,1,1,0,...,0,2,0,2,0,1,1,1,0,2
1,KCPS000056,KCPS000056,0,2,0,1,0,1,2,0,...,0,1,0,1,0,0,1,0,2,0
2,KCPS000058,KCPS000058,0,0,0,1,2,0,1,0,...,0,2,0,0,0,2,0,2,0,0
3,KCPS000081,KCPS000081,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,1,1,1,0
4,KCPS000087,KCPS000087,1,0,0,1,1,2,1,1,...,0,2,0,2,0,1,0,1,2,1

In [ ]:
import mglearn

import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.linear_model import Lasso

X, y = mglearn.datasets.load_extended_boston()

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)



lasso = Lasso().fit(X_train, y_train)